@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the custom font */
@font-face {
  font-family: "AppFont";
  src: url("/src/assets/Fonts/Katibeh-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Optional: global usage */
h1 {
  font-family: "AppFont", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  color: #716F6F;
}

section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

